:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(6, 6, 6, 0.87);
  background-color: #d9d9d3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html{
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: inherit;
} 

body {
  margin: 0;
  min-width: 220px;
  min-height: 100vh;
}

.border {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid;
  border-bottom: 0px;
  width: 900px;
  height: 275px;
}

.cut-border {
  position: relative;
  width: 180px;
  left: 364px;
  bottom: 0px;
}
.cut-border::before,
.cut-border::after {
  content: "";
  position: absolute;
  width: 360px; /* Adjust the width to control the size of the cut */
  height: 0px;
  border: 2px solid;
  background-color: black; /* Height of the cut line */ /* Color of the cut line */
  z-index: 2;
}
.cut-border::before {
  left: 0;
  transform: translateX(-100%);
}
.cut-border::after {
  right: 0;
  transform: translateX(100%);
}

.upclick{
  background-color: #333333;
  border-radius: 6px;
  transition: background-color 0.4s, color 0.4s, border-radius 1s;
  cursor: pointer;
  color: black;
}
.upclick:hover{
  color: #333333;
  background-color: #1a1a1a;
  border-radius: 90px;
}

.test{
  background-color: transparent;
  position: absolute;
  top: 95.2%;
  left: 41.5%;
  width: 160px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
}

.smallfont{
  font-weight: 500;
  font-family: "Lucida" Grande, sans-serif;
  font-size: 17px;
}

.smalltext{
  font-size: 15px;
}

.bigfont{
  font-weight: lighter;
  font-family: "Lucida" Grande, sans-serif;
  font-size: 130px;
  margin-right: 20px;
  margin-left: 20px;
}

.blackbar{
  height: 90px;
  width: 100%;
  background-color: black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about{
  height: 910px;
  width: 100%; 
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutbox{
  width: 1200px;
  height: 900px;
  position: relative;
}

.aboutimage{
  position: absolute;
  top: 15%;
  left: 5%;
}

.about-image 

.abouttext{
  z-index: 2;
  position: absolute;
  top: 205%;
  width: 200px;
  height: 200px;
}

.abouttextI{
  display: flex;
  position: relative;
  left: 13%;
  top: 85px;
  z-index: 2;
}

.aboutblack{
  position: absolute;
  background-color: black; 
  height: 450px;
  width: 700px;
  top: 22%;
  left: 38%;
}

.abouttextbox{
  height: 350px;
  width: 600px;
}

.frontend{
  height: 950px;
  width: 100%;
  justify-content: center; 
  align-items:center;
  display: flex;
  background-color: #d9d9d3;
}

.frontendbox{
  position: relative;
  width: 1200px;
  height: 900px;
}

.react-image{
  width: 505px;
}

.java-image{
  width: 475px;
}

.frontendtext{
  background-color: black;
  width: 250px;
  height: 80px;
  margin-top: 55px;
}

.frontendtextbox{
  height: 530px;
  width: 400px;
}

.frontendblack{
  background-color: black;
  height: 630px;
  width: 500px;
  position: absolute;
  top: 25%;
  left: 5%;
}

.frontendbackplate{
  height: 450px;
  width: 600px;
  position: absolute;
  top: 32%;
  left: 45%;
  z-index: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d3;;
}

.backend{
  height: 950px;
  width: 100%;
  justify-content: center; 
  align-items:center;
  display: flex;
  background-color: #d9d9d3;
}

.backendbox{
  position: relative;
  width: 1200px;
  height: 900px;
}

.fastapi-image{
  width: 450px;
}

.pyhon-image{
  width: 450px;
}

.backendtext{
  background-color: black;
  width: 250px;
  height: 80px;
  margin-top: 55px
}

.backendtextbox{
  height: 515px;
  width: 400px;
}

.backendblack{
  background-color: black;
  height: 615px;
  width: 500px;
  position: absolute;
  top: 25%;
  right: 5%;
}

.backendbackplate{
  height: 450px;
  width: 600px;
  position: absolute;
  top: 32%;
  right: 45%;
  z-index: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d3;
}

.combination{
  height: 1400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.combinationbox{
  position: relative;
  width: 1200px;
  height: 1300px;
}

.combinationtext{
  background-color: black;
  width: 350px;
  height: 80px;
  margin-top: 30px
}

.addcustomer{
  background-color: white;
  height: 292px;
  width: 692px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 4px solid;
  border-radius: 20px;
  margin: 10px;
  margin-top: 50px;
}

.addcustomerbox{
  height: 200px;
  width: 500px;
}

.addcustomerblack{
  background-color: black;
  height: 300px;
  width: 350px;
  margin: 10px;
  margin-top: 50px;
}

.customertable{
  background-color: white;
  height: 492px;
  width: 692px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
  border: 4px solid; 
  border-color: #262626;
  border-radius: 20px;
  margin: 10px;
}

.customertablebox{
  height: 492px;
  width: 692px;
}

.customertableblack{
  background-color: black;
  height: 500px;
  width: 350px;
  margin: 10px;
}

.combinationblack{
  background-color: black;
  height: 240px;
  width: 1070px;
  margin: 10px;
}

.contactme{
  height: 750px;
  width: 100%;
  background-color: #d9d9d3;
}

.contactmebox{
  position: relative;
  width: 550px; 
  height: 600px;
}

.contactmetext{
  margin-top: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
  padding: 0 5px;
}

.created-by {
  text-align: right;
  font-size: 13px;
  color:#636363;
  position: absolute;
  width: 98%;
  bottom: 3%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centeredflex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centeredgrid {
  display: grid;
  justify-content: center;
  align-items: center;
}
.centeredaddcustomer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centeredcustomertable{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.centeredcontact{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.centeredgridcontact {
  display: grid;
  justify-content: center;
  align-items: center;
  width:'100%';
  margin-top: 50px;
  margin-left: 50px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(1.75px);
  z-index: -1;
  animation: 2s appearAnimation 0s ease backwards;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
.overlay {
  transition: border-color 0.4s, color 0.4s;
  cursor: pointer;
  position: relative;
  opacity: 0;
  animation: 2s appearAnimation 0.5s ease forwards;
}
.overlay:hover{
  color: #5a5a5a;
  border-color:#5a5a5a;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.4s, background-color 0.4s, color 0.25s;
}
button:hover {
  background-color: #3d3d3d;;
  border-color: #070707;
  color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.menubutton{
  font-size: 30px;
  transition: color 0.4s ease-in-out;
  border-radius: 4px;
  color: rgba(6, 6, 6, 0.87);
}
.menubuttonclicked{
  color: rgba(139, 139, 139, 0.98);
}

input{
  background-color: white;
  height: 15px;
  transition: height 0.1s ease-out ,background-color 0.5s;
}
input:hover{
  background-color: #e9e7e7;
  height: 20px;
}

.end {
  color: #d9d9d3;
  transition: color 0.4s;
} 
.end:hover{
  color:#6b6b6b;
}

table {
  color: black;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: #fff;
  vertical-align: middle;
  max-height: 25px;
}
th {
  text-align: left;
}
td{
  border-bottom: 1px solid #ccc;
}
thead th {
  background-color: #262626;
}
tbody tr:hover {
  height: 70px;
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
tr{
  height: 48px;
  transition: height 0.2s ease-out;
}

.mytable{
  height: 485px;
  width: 692px;
  overflow: auto;
  border-radius: 9px;
}

.inputform{
  width: 450px; 
  padding: 10px 5px 10px; 
  border-radius: 7px; 
  font-family: monospace;
  color: black; 
  margin-bottom: 5px;
}

.addform{
  position: relative;
}

.contactinfo{
  width: 210px;
}

@media screen and (max-width: 1024px) {
  :root {
    color: rgba(6, 6, 6, 0.87);
    background-color: #d9d9d3;
    width: 100%;
    min-width: 365px;
  }
  .border{
    width: 300px;
    height: 320px;
    display: grid;
  }
  .cut-border{
    width: 180px;
    left: 64px;
  }
  .cut-border::after,
  .cut-border::before {
    width: 60px;
  }
  .bigfont{
    font-size: 90px;
    left: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .test{
    left: 24%;
    top: 96.1%;
  }
  .blackbar{
    height: 0px;
  }
  .centeredflex{
    align-items: baseline;
    justify-content: baseline;
  }
  .about{
    background-color: white;
    height: auto;
  }
  .aboutbox{
    width: 100%;
    height: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .aboutimage{
    left:0;
    position: static;
    height: auto;
  }
  .about-image{
    width: 90%;
    position: static;
    padding: 5%;
    height: auto;
  }
  .abouttext{
    position: static;
    height: auto;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
  }
  .abouttextI{
    position: static;
  }
  .aboutblack{
    position: static;
    width: 100%;
    margin-top: 20px;
  }
  .abouttextbox{
    width: 90%;
    height: auto;
  }
  .frontend{
    height: auto;
    display: grid;
    padding-top: 80px;
    align-items: baseline;
    width: 100%;
  }
  .frontendbox{
    width: 100%;
    height: auto;
  }
  .react-image{
    margin-top: 50px;
    width: 200px;
  }
  .java-image{
    width: 200px;
    margin-bottom: 50px;
  }
  .frontendtext{
    margin-top: 20px;
  }
  .frontendtextbox{
    height: auto;
    width: 85%;
  }
  .frontendblack{
    position: static;
    width: 100%;
    height: 700px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 -3px 10px rgba(0, 0, 0, 0.5);
  }
  .frontendbackplate{
    position: static;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .backend{
    height: auto;
    display: grid;
    padding-top: 80px;
    align-items: baseline;
    width: 100%;
  }
  .backendbox{
    width: 100%;
    height: auto;
  }
  .fastapi-image{
    margin-top: 50px;
    width: 200px;
  }
  .python-image{
    width: 200px;
    margin-bottom: 50px;
  }
  .backendtext{
    margin-top: 20px;
  }
  .backendtextbox{
    height: auto;
    width: 85%;
  }
  .backendblack{
    position: static;
    width: 100%;
    height: 700px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 -3px 10px rgba(0, 0, 0, 0.5);
  }
  .backendbackplate{
    position: static;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .combination{
    height: auto;
    display: grid;
    padding-top: 50px;
    align-items: center;
    width: 100%;
  }
  .combinationtext{
    margin-top: 50px;
  }
  .combinationbox{
    height: auto;
    width: 100%;
    position: relative;
  }
  .centeredaddcustomer,
  .centeredcustomertable{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .addcustomerblack{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .addcustomer{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    width: calc(100% - 8px);
    justify-content: center;
    align-items: center;
  }
  .addcustomerbox{
    display: grid;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .inputform{
    width: calc(100% - 14px);
  }
  .addform{
    width: 100%;
  }
  .customertable{
    width: calc(100% - 8px);
    margin-left: 0px;
    margin-right: 0px;
  }
  .customertablebox{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .customertableblack{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .combinationblack{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .mytable{
    width: auto;
  }
  .contactme{
    width: 100%;
    height: calc(auto + 10px);
  }
  .contactmebox{
    width: 100%;
    height: auto;
  }
  .contactmetext{
    margin-top: 0px;
  }
  .centeredcontact{
    width: 100%;
  }
  .centeredgridcontact{
    margin-left: 40px;
    justify-content: unset;
  }
  .smalltext{
    font-size: 13px;
  }
  .created-by{
    text-align: center;
  }
}

@keyframes appearAnimation {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.appear{
  opacity: 0;
}
.appear.animated{
  opacity: 1;
  animation: 2s appearAnimation ease;
}

.appearDelayed{
  opacity: 0;
}
.appearDelayed.animated{
  opacity: 1;
  animation: 2s appearAnimation 0.5s ease backwards;
}

.appearMoreDelayed{
  opacity: 0;
}
.appearMoreDelayed.animated{
  opacity: 1;
  animation: 2s appearAnimation 1s ease backwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInleft {
  opacity: 0;
}

.slideInleft.animated {
  animation: slideInLeft 0.5s ease-out;
  opacity: 1;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInright {
  opacity: 0;
}

.slideInright.animated {
  animation: slideInRight 0.5s ease-out;
  opacity: 1;
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideInbottom {
  opacity: 0;
}
.slideInbottom.animated {
  animation: slideInBottom 0.75s ease-out;
  opacity: 1;
}

@keyframes slideInBottomVisable {
  from {
    opacity: 1;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.slideInbottomVisable {
  opacity: 1;
}
.slideInbottomVisable.animated {
  animation: slideInBottomVisable 0.75s ease-out;
  opacity: 1;
}

@keyframes contact {
  from {
    opacity: 0;
    background-color: rgb(0, 0, 0);
  }
  to {
    opacity: 1;
    background-color: #262626;
  }
}

.contact{
  opacity: 0;
}
.contact.animated{
  opacity: 1;
  animation: contact 3s ease backwards;
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideIntop {
  opacity: 0;
}
.slideIntop.animated {
  animation: slideInTop 0.15s ease-out forwards;
  opacity: 1;
}

/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
/* Add more padding to the right side */
  border-bottom: 1px solid transparent; /* Thin bezel underneath */
  position: fixed;
  top: 0;
  padding: 25px 0px 25px 0px;
  height: 45px;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  box-shadow: 0 0px 0px rgba(87, 87, 87, 0.2);
  transition: padding 0.3s, border-bottom-color 0.3s, box-shadow 0.3s, background-color 0.3s, height 0.3s ease-out;
}
.navbar.scrolled {
  background-color: rgba(239, 239, 239, 0.98);
  padding: 7px 0px 7px 0px; /* Decrease the top padding when scrolled */
  border-bottom-color: #ccc; /* Show the thin bezel underneath when scrolled */
  box-shadow: 0 1px 5px rgba(87, 87, 87, 0.2);
} 
.navbar.color {
  background-color: rgba(217, 217, 211, 0.98); /* Change the background color to beji */
}
.navbar.white-bg {
  background-color: rgba(255, 255, 255, 0.98); /* Change the background color to white */
}
.navbar.expanded {
  height: 250px;
}

.logo-container{
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
  margin-left: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(29, 29, 29);
}

.logo {
  max-height:35px;
  max-width: 114.5px;
  height:30px;
  width: 98.2px;
  border: 1px solid;
  animation: none;
  display: flex;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  opacity: 0;
  transition: border-color 0.4s, color 0.4s, 1s opacity 0s ease-in;
}
.logo.scrolled{
  opacity: 1;
}
.logo:hover{
  color: #6b6b6b;
  border-color:#6b6b6b;
}

.nav-links {
  list-style: none;
  display: flex;
  font-family: monospace;
  align-items: center;
  right: 420px;
  opacity: 0;
  transition: 1s opacity 0s ease-in;
}
.nav-links.scrolled{
  opacity: 1;
}
.nav-links li {
  margin-right: 15px;
  transition: font-style 0.4s, font-weight 0.4s;
}
.nav-links li:last-child {
  margin-right: 0;
}
.nav-links a {
  text-decoration: none;
  color: #333; /* Adjust the link color as needed */
  font-style: normal;
  transition: color 0.4s;
  transition: font-style 0.4s, font-weight 0.4s, color 0.4s;
}
.nav-links li.active a {
  font-style: bold;
  font-weight: 800;
}
.nav-links a:hover {
  color: #000000;
}

.mobile-nav{
  list-style: none;
  display: flex;
  font-family: monospace;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: 1s opacity 0s ease-in;
  width: 92%;
  height: 50px;
  position: static;
}
.mobile-nav.scrolled{
  opacity: 1;
  position: absolute;
  top: 5px;
  z-index: 999;
}

.mobilenav-links {
  list-style: none;
  display: grid;
  margin-top: 10px;
  font-family: monospace;
  align-items: center;
  right: 420px;
  opacity: 0;
  transition: 1s opacity 0s ease-in;
}
.mobilenav-links.scrolled{
  opacity: 1;
  margin-top: 55px;
}
.mobilenav-links li {
  margin-right: 15px;
  transition: font-style 0.4s, font-weight 0.4s;
}
.mobilenav-links li:last-child {
  margin-right: 0;
}
.mobilenav-links a {
  text-decoration: none;
  color: #333; /* Adjust the link color as needed */
  font-style: normal;
  transition: color 0.4s;
  transition: font-style 0.4s, font-weight 0.4s, color 0.4s;
}
.mobilenav-links li.active a {
  font-style: bold;
  font-weight: 800;
}
.mobilenav-links a:hover {
  color: #000000;
}

.navtext{
  color: transparent;
  transition: 1s color ease-in;
}
.navtext.scrolled{
  color: rgba(6, 6, 6, 0.87);;
  animation: 2s appearAnimation 0s ease backwards;
}

.tableButtons{
  color: #060606;
  font-size: 20px;
  transition: color 0.4s;
  cursor: pointer;
}
.tableButtons:hover{
  color: #5a5a5a;
}